body{
    background-image:
    url("https://tse1.mm.bing.net/th?id=OIP.1WqgkIY6Lbs64YsZ6euWkAHaE7&pid=Api&P=0&h=180");
    background-size: cover;
    background-position: right;
    height: 100vh;
}
.combos{ 
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    background:linear-gradient(to right rgb(100,100,100),rgb(53,52,52)) ;
    color:white;
}

#comboheading{
    background:linear-gradient(to right rgb(100,100,100),rgb(53,52,52));
    font-size:2.sem;
    color: red;
    display: flex;
    justify-content: center;
}
.combos th{
    color:green;
    font-size:1.8em;
}
table{
    width:100%;
    padding:1em;
}
.combos tr{
    display: flex;
    justify-content: center;
    margin-top: .8em;
}
.combos td:nth-child(1){
    flex:1;
    justify-self: left;
}
.combos td:nth-child(2){
    justify-self: right;
}
.locations{
    background:linear-gradient(to right rgb(100,100,100),rgb(53,52,52));
    color: red;
    display: flex;
    flex-wrap:wrap;
}
.location h2{
    color:green;
    font-size:.8;
}
.location div{
    flex:1;
    padding:1em;
    min-width:220px;
}
address{
    color:black;
}
.footer{
    background-color: black;
    color:white;
    padding:25em;
}
